<% include ./partials/header.ejs %>

  <div class="w-full h-screen bg-[url(https://images.unsplash.com/photo-1541701494587-cb58502866ab?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)] bg-cover bg-center flex items-center justify-center">
    <div class="w-[25vw] bg-zinc-100 rounded-[20px] px-16 py-10">
      <div class="w-16 h-16 rounded-full mx-auto">
        <img class="" src="https://i.pinimg.com/originals/1b/76/01/1b7601e035a83c13c208b4ec905ee6d9.png" alt="">
      </div>
      <h1 class="text-3xl font-semibold text-center leading-none capitalize text-zinc-600 tracking-tighter mt-5">Log in to see more</h1>
      <form class="mt-5" action="/login" method="post">
        <input class="border-2 px-2 py-2 rounded-md block mt-2 w-full" type="text" name="username" placeholder="Username">
        <input class="border-2 px-2 py-2 rounded-md block mt-2 w-full" type="password" name="password" placeholder="Password">
        <a class="mt-2 text-sm font-semibold text-zinc-500 inline-block" href="#">Forgotten your password?</a>
        <input class="border-2 px-2 py-2 block mt-5 w-full bg-red-700 font-semibold text-white rounded-full" type="submit" value="Login">
        <p class="text-xs font-semibold tracking-tight leading-none text-zinc-500 mt-6 text-center w-full mx-auto">By continuing, you agree to Pinterest's Terms of Service; Opens a new tab and acknowledge that you've read our Privacy Policy.</p>
      </form>
      <a class="text-sm text-zinc-700 text-center mt-8 inline-block w-full font-semibold" href="/register">Not on Pinterest yet? Sign up</a>
    </div>
  </div>

<% include ./partials/footer.ejs %>